.warna1 {
  background-color: #876445;
}

.warna2 {
  background-color: #ca965c;
}

.warna3 {
  background-color: #eec373;
}

.warna4 {
  background-color: #f4dfba;
}

.banner {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/banner3.jpg");
}

.highlighted-kategori {
  height: 250px;
}

.highlighted-kategori a {
  text-decoration: none;
  color: white;
}

.highlighted-kategori a:hover {
  color: #eec373;
}

.kategori-baju-pria {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/baju-pria.jpeg");
  background-size: cover;
  background-position: center;
}

.kategori-baju-wanita {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/baju-wanita.jpeg");
  background-size: cover;
  background-position: center;
}

.kategori-sepatu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/sepatu.jpeg");
  background-size: cover;
  background-position: center;
}

.text-harga {
  font-size: 22px;
  color: #876445;
}

.image-box {
  height: 250px;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.7);
}

/* produk */

.banner2 {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/banner3.jpg");
  background-position: 50% 35%;
}

.list-group a {
  text-decoration: none;
}

.produk-terkait-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
